.logo-space {

	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	overflow: hidden;

}
.logo {
	display: flex;
	width: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.background-video {

  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;

}

@media only screen and (max-width: 600px) {
	.background-mp {
		width: 100%;
	}

	.logo-space {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		height: 80vh;
	}
	.logo {
		width: 100%;
	}
}
